playground.py
playground
prompt.txt
config/*.json
config/private

dags/extract/data/*
dags/mytuto_dag.py
dags/extract_dag.py
dags/extracttuto

iac/.terraform.lock.hcl
iac/terraform.tfstate
iac/terraform.tfstate.backup
iac/.terraform

logs/*

todo.txt